#ascent{
    background-color: #A17359;
  }

  @media screen and (max-width:
800px) {
 #flechax { 
   
  transform: rotate(90deg);

}
}
  #flechas_ascent{
    
    background-color: #212121;

  }
  #background_ascent{
    width: 794px;
    height: 860px;
    background-image: url(../img/mapa_ascent.jpg);
   
  }
  .flecha{

    height: 660px;

  }
  .marcacoes img{
    
        width: 22px;
        height: 22px;

      
  }

  
  #mc1{

    position:absolute;
    margin-left: 608px;
    margin-top: 285px;


  }
  #mc2{

    position:absolute;
    margin-left: 633px;
    margin-top: 222px;

  }

  #mc3{

    position:absolute;
    margin-left: 680px;
    margin-top: 228px;

  }
  #mc4{

    position:absolute;
    margin-left: 723px;
    margin-top: 224px;

  }
  #mc5{

    position:absolute;
    margin-left: 630px;
    margin-top: 293px;

  }

  #mc6{

    position:absolute;
    margin-left: 680px;
    margin-top: 276px;

  }

  #mc7{

    position:absolute;
    margin-left: 510px;
    margin-top: 367px;

  }

  #mc8{

    position:absolute;
    margin-left: 505px;
    margin-top: 305px;

  }
  
  #mc9{

    position:absolute;
    margin-left: 348px;
    margin-top: 248px;

  }

  #mc10{

    position:absolute;
    margin-left: 420px;
    margin-top: 253px;

  }

  #mc12{

    position:absolute;
    margin-left: 360px;
    margin-top: 253px;

  }

  #mc13{

    position:absolute;
    margin-left: 705px;
    margin-top: 260px;

  }

  #mc14{

    position:absolute;
    margin-left: 81px;
    margin-top: 258px;

  }
  
  #mc15{

    position:absolute;
    margin-left: 250px;
    margin-top: 470px;

  }
 
  #mc16{

    position:absolute;
    margin-left: 270px;
    margin-top: 420px;

  }

  #mc17{

    position:absolute;
    margin-left: 525px;
    margin-top: 410px;

  }

  #mc18{

    position:absolute;
    margin-left: 640px;
    margin-top: 211px;
    opacity : 0.5
  }

  #mc19{

    position:absolute;
    margin-left: 573px;
    margin-top: 465px;
 
  }

  #mc20{

    position:absolute;
    margin-left: 530px;
    margin-top: 600px;
 
  }
  
  #mc21{

    position:absolute;
    margin-left: 425px;
    margin-top: 440px;
 
  }

  #mc22{

    position:absolute;
    margin-left: 400px;
    margin-top: 590px;
 
  }

  #mc23{

    position:absolute;
    margin-left: 295px;
    margin-top: 447px;
 
  }

  #mc24{

    position:absolute;
    margin-left: 546px;
    margin-top: 410px;
 
  }
  .posicao img{
    display: none;
    width: 22px;
    height: 22px;

  }
  #po1{

    position:absolute;
    margin-left: 587px;
    margin-top: 490px;

  }

  #po2{

    position:absolute;
    margin-left: 593px;
    margin-top: 499px;

  }

  #po3{

    position:absolute;
    margin-left: 545px;
    margin-top: 453px;

  }
  #po4{

    position:absolute;
    margin-left: 538px;
    margin-top: 565px;

  }
  #po5{

    position:absolute;
    margin-left: 595px;
    margin-top: 95px;

  }

  #po6{

    position:absolute;
    margin-left: 632px;
    margin-top: 400px;

  }

  #po7{

    position:absolute;
    margin-left: 556px;
    margin-top: 396px;

  }

  #po8{

    position:absolute;
    margin-left: 530px;
    margin-top: 270px;

  }

  #po9{

    position:absolute;
    margin-left: 530px;
    margin-top: 270px;

  }

  #po10{

    position:absolute;
    margin-left: 545px;
    margin-top: 452px;

  }
  #po11{

    position:absolute;
    margin-left: 558px;
    margin-top: 462px;

  }

  #po12{

    position:absolute;
    margin-left: 593px;
    margin-top: 513px;

  }

  #po13{

    position:absolute;
    margin-left: 593px;
    margin-top: 450px;

  }
  #po14{

    position:absolute;
    margin-left: 250px;
    margin-top: 425px;

  }
  #po15{

    position:absolute;
    margin-left: 533px;
    margin-top: 662px;

  }
  
  #po16{

    position:absolute;
    margin-left: 129px;
    margin-top: 429px;

  }

  #po17{

    position:absolute;
    margin-left: 132px;
    margin-top: 429px;

  }

  #po18{

    position:absolute;
    margin-left: 130px;
    margin-top: 485px;

  }

  #po19{

    position:absolute;
    margin-left: 212px;
    margin-top: 100px;

  }

  #po20{

    position:absolute;
    margin-left: 568px;
    margin-top: 565px;

  }

  #po21{

    position:absolute;
    margin-left: 207px;
    margin-top: 345px;

  }

  #po22{

    position:absolute;
    margin-left: 278px;
    margin-top: 217px;
  
  }

  #po23{

    position:absolute;
    margin-left: 575px;
    margin-top: 308px;
  
  }

  #po24{

    position:absolute;
    margin-left: 390px;
    margin-top: 145px;
  
  }

  #po25{

    position:absolute;
    margin-left: 722px;
    margin-top: 195px;
  
  }
  
  #po26{

    position:absolute;
    margin-left: 627px;
    margin-top: 165px;
  
  }
    
  #po27{

    position:absolute;
    margin-left: 140px;
    margin-top: 152px;
  
  }

  #po28{

    position:absolute;
    margin-left: 560px;
    margin-top: 205px;
  
  }

  #po29{

    position:absolute;
    margin-left: 410px;
    margin-top: 220px;
  
  }

  #po30{

    position:absolute;
    margin-left: 522px;
    margin-top: 325px;
  
  }

  
  #po31{

    position:absolute;
    margin-left: 520px;
    margin-top: 285px;
  
  }

  #po32{

    position:absolute;
    margin-left: 363px;
    margin-top: 55px;
  
  }
  
  #po33{

    position:absolute;
    margin-left: 640px;
    margin-top: 328px;
  
  }