body {
    background-color: #212121;
  }

  #background_ascent{
    width: 1196px;
    height: 660px;
    background-image: url(../img/mapa_ascent.jpg);
   
  }
  .flecha{

    height: 660px;

  }
  .marcacoes img{
    
        width: 22px;
        height: 22px;

      
  }

  
  #mc1{

    position:absolute;
    margin-left: 835px;
    margin-top: 219px;


  }
  #mc2{

    position:absolute;
    margin-left: 835px;
    margin-top: 222px;


  }
  .posicao img{
    /* display: none; */
    width: 22px;
    height: 22px;

  }



