#ascent{
    background-color: #A17359;
  }
  #flechas_ascent{
    
    background-color: #212121;

  }
  #background_ascent{
    width: 794px;
    height: 860px;
    background-image: url(../img/mapa_ascent.jpg);
   
  }
  .flecha{

    height: 660px;

  }
  .marcacoes img{
    
        width: 22px;
        height: 22px;

      
  }

  
  #mc1{

    position:absolute;
    margin-left: 608px;
    margin-top: 285px;


  }
  #mc2{

    position:absolute;
    margin-left: 633px;
    margin-top: 222px;

  }

  #mc3{

    position:absolute;
    margin-left: 680px;
    margin-top: 228px;

  }
  #mc4{

    position:absolute;
    margin-left: 723px;
    margin-top: 224px;

  }
  #mc5{

    position:absolute;
    margin-left: 630px;
    margin-top: 293px;

  }

  #mc6{

    position:absolute;
    margin-left: 686px;
    margin-top: 276px;

  }

  #mc7{

    position:absolute;
    margin-left: 510px;
    margin-top: 367px;

  }
  .posicao img{
    /* display: none; */
    width: 22px;
    height: 22px;

  }
  #po1{

    position:absolute;
    margin-left: 587px;
    margin-top: 490px;

  }

  #po2{

    position:absolute;
    margin-left: 593px;
    margin-top: 499px;

  }

  #po3{

    position:absolute;
    margin-left: 545px;
    margin-top: 453px;

  }
  #po4{

    position:absolute;
    margin-left: 538px;
    margin-top: 565px;

  }
  #po5{

    position:absolute;
    margin-left: 595px;
    margin-top: 95px;

  }

  #po6{

    position:absolute;
    margin-left: 632px;
    margin-top: 400px;

  }

  #po7{

    position:absolute;
    margin-left: 556px;
    margin-top: 396px;

  }

  #po8{

    position:absolute;
    margin-left: 530px;
    margin-top: 270px;

  }

  #po9{

    position:absolute;
    margin-left: 530px;
    margin-top: 270px;

  }

  #po10{

    position:absolute;
    margin-left: 545px;
    margin-top: 452px;

  }
  #po11{

    position:absolute;
    margin-left: 558px;
    margin-top: 462px;

  }

  #po12{

    position:absolute;
    margin-left: 593px;
    margin-top: 513px;

  }